<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML-PDF</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <button id='btn-report' class="learn-more">Generar Reporte</button>
    <a id="downloadReport" style="display: none;" href="none" download="none"></a>
</body>
<script src="/js/index.js"></script>

</html>